<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>callback</title>
		<link rel="icon" type="image/png" href="img/favicon.ico"/>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div class="container">
			<h2>hi! 👋</h2>
			<h1>welcome to callback</h1>

			<form action="" id="join-us">
				<div class="fields">
					<span>
						<input class="usernameInput" placeholder="Name" type="text" />
					</span>
					<br />
					<span>
						<input placeholder="Room Id" type="text" />
					</span>
				</div>
				<div class="submit">
					<input id="callSomeone" class="submit" value="call someone" type="button" />
				</div>
			</form>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			document.getElementById('callSomeone').onclick = function () {
				location.href = '/room';
			};

			// $('form').submit(function () {
			// 	let username = $('.usernameInput').val();
			// 	if (username.length > 0) socket.emit('chat message', msg);
			// 	else console.log('Enter a valid msg :)');
			// 	$('#m').val('');
			// 	return false;
			// });
		</script>
	</body>
</html>
