<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script>
			const ROOM_ID = '<%= roomId %>';
		</script>
		<script
			defer
			src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
		></script>
		<script src="room.js" defer></script>
		<link rel="icon" type="image/png" href="img/favicon.ico"/>
		<title>callback</title>
		<link rel="stylesheet" href="room.css" />
	</head>
	<body>
		<nav>
			<h1>callback</h1>
		</nav>
		<div class="roomContainer">
			<div class="leftSide">
				<div class="videoSide">
					<div id="video-grid"></div>
				</div>
				<div class="footer">
					<button id="endCall" class="submit">end call</button>
					<button id="invite" class="submit">invite someone</button>
				</div>
			</div>

			<div class="messageBox">
				
				<div class="container-fluid">
					<h1>chat</h1>
					<ul class="list-group" id="messages"></ul>
				</div>
				<div class="messageType">
					<form class="messageInput" action="">
						<input
							type="text"
							name=""
							id="m"
							class="form-control"
							placeholder="whats good..."
							value=""
							required="required"
							title=""
						/>
					</form>
				</div>
			</div>
			
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<script type="text/javascript">
			document.getElementById('endCall').onclick = function () {
				location.href = '/';
			};

			document.getElementById('invite').onclick = function () {
				alert('Room ID: ' + ROOM_ID);
			};

			const socketio = io('/');
			$('form').submit(function () {
				var msg = $('#m').val();
				if (msg.length > 0) socket.emit('chat message', msg);
				else console.log('Enter a valid msg :)');
				$('#m').val('');
				return false;
			});
			socketio.on('chat message', function (msg) {
				$('#messages').append(
					'<p class="list-group-item"> Tahsin: ' + msg + '</p>'
				);
			});
		</script>
	</body>
</html>
